.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    alignItems: center;
    justifyContent: center;
    display: flex,

  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .notification {
    margin: 10px 0;
    padding: 10px;
    background-color: #e0ffe0;
    color: #2e652b;
    border: 1px solid #b2e0b2;
    border-radius: 5px;
    text-align: center;
  }